{% extends "base.html" %}
{% block content %}
<h2>Kontakt</h2>

<form method="POST" action="{% url 'contact' %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
</form>
{% endblock %}