<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Dodaj"></p>
</form>
{% if comments %}
<p>Komentarze:</p>
{% for comment in comments %}
                <li>
                    <p><b>Autor:</b> {{ comment.autor }}</p>
                    <p><b>Tekst:</b> {{ comment.tekst }}</p>
                </li>
            {% endfor %}
{% else %}
<p>Brak</p>
{% endif %}