{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% placeholder 'col-1'  or %}
            

            {% endplaceholder %}
        </div>
        <div class="col-md-4 col-md-offset-1">
            {% placeholder 'col-2'  or %}
            Witaj na stronie!
            {% endplaceholder %}
        </div>
    </div>

{% endblock %}