{% extends "base.html" %}

{% block content %}
<h1 class="text-center" style="margin-bottom: 50px">Nowy post</h1>
<div>
    <form action="{% url 'dodajPost' %}" method="POST" class="center" style="width: 200px">
          {% csrf_token %}
          <input required="required" type="text" name="tytul"/><br/>
          <textarea required="required" rows="5" name="tekst"></textarea><br/>
          <button id="add" type="submit" class="btn">Dodaj</button>
    </form>
</div>
{% endblock %}