{% extends 'base.html' %}

{% block content %}
<h1 class="text-center" style="margin-bottom: 20px">BLOG</h1>
<div>
    <div>
        <a href="{% url 'posty' %}">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'nowyPost' %}">Dodaj post</a>
        <a href="{% url 'wyloguj' %}">Wyloguj ({{ user }})</a>
        {% else %}
        <a href="{% url 'logowanie' %}">Zaloguj</a>
        {% endif %}
    </div>
</div>
<div id="posty" class="center">
    {% for post in posty %}
    <div class="post">
        <h2 class="title">{{ post.tytul}}</h2>
        <p>{{ post.tekst}}</p>
    </div>
    {%  endfor %}
</div>
{% endblock %}