{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="text-center" style="margin-bottom: 50px">Logowanie</h1>
{% if msg %}
<div class="alert-success">{{ msg }}</div>
{% elif error %}
<div class="alert-error"> {{ error }}</div>
{% endif %}

<form action="{% url 'zaloguj' %}" method="POST" class="form-horizontal center" style="width: 600px">
    {% csrf_token %}
    <div>
        <div>
            <input type="text" required="required" name="uzytkownik">
        </div>
    </div>
    <div>
        <div>
            <input type="password" required="required" name="haslo">
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn">Zaloguj</button>
            <a href="{% url 'rejestracja' %}" class="btn">Zarejestruj</a>
        </div>
    </div>
</form>
{% endblock %}